<div class="navbar navbar-inverse navbar-fixed-left">
  <div class="profilepane">
    <%= image_tag("profilepic.png", :alt => "profile pic") %>
  </div>
    <a class="navbar-brand" href="#">Sim Ming Lun</a>
    <ul class="nav navbar-nav">
       <li><a href="posts">Timeline</a></li>
       <li><a href="#">About Me</a></li>
       <li><a href="#">Contact Me</a></li>
    </ul>
</div>

<div class="container">
    <button type="button" class="btn btn-info btn-lg">
      <%= link_to 'Create New Post', new_post_path %>
    </button>
 <div class="row">
     <% @posts.reverse.each do |post| %>
     <h1><%= post.created_at.strftime("%m/%d/%Y") %></h1>
     <h1><%= post.title %></h1>
     <%= post.content %>
     <h1>&nbsp</h1>
     <p><i>Written by: <%= post.author %> </i></p>
     <button type="button" class="btn btn-success btn-xs">
        <%= link_to 'More', post_path(post) %>
     </button>
     <% end %>
     <h1>&nbsp</h1>
 </div>
</div>
