<div class="navbar navbar-inverse navbar-fixed-left">
  <a class="navbar-brand" href="#">Sim Ming Lun</a>
  <ul class="nav navbar-nav">
   <li><a href="#">Timeline</a></li>
   <li><a href="#">About Me</a></li>
   <li><a href="#">Contact Me</a></li>
  </ul>
</div>
<div class="container">
 <h1>Publish a new blog post!</h1>
 <div class="row">
   <%= form_for :post, url: posts_path do |f| %>
     <p>
       <%= f.label :title %><br>
       <%= f.text_field :title %>
     </p>

     <p>
       <%= f.label :content %><br>
       <%= f.text_area :content %>
     </p>

     <p>
       <%= f.submit %>
     </p>

     <p>
       <%= link_to 'Back', posts_path %>
     </p>
   <% end %>
 </div>
</div>
