<div class="navbar navbar-inverse navbar-fixed-left">
  <div class="profilepic">
    <%= image_tag("profilepic.png", :alt => "profile pic") %>
    <a class="navbar-brand" href="#">Sim Ming Lun</a>
    <ul class="nav navbar-nav">
       <li><a href="#">Timeline</a></li>
       <li><a href="#">About Me</a></li>
       <li><a href="#">Contact Me</a></li>
    </ul>
  </div>
</div>

<div class="container">
 <div class="row">
   <%= form_for :post, url: posts_path do |f| %>
     <h1><%= @post.created_at.strftime("%m/%d/%Y") %></h1>
     <p>
       <h1><strong><%= @post.title %></strong></h1>
     </p>

     <p>
       <%= @post.content %>
     </p>

     <p>
       <button type="button" class="btn btn-warning btn-sm">
         <%= link_to 'Edit', edit_post_path(@post) %>
       </button>
       <button type="button" class="btn btn-success btn-sm">
         <%= link_to 'Back', posts_path %>
       </button>
       <button type="button" class="btn btn-danger btn-sm">
         <%= link_to 'Destroy', post_path(@post),
              method: :delete,
              data: { confirm: 'Are you sure you want to delete this post?' } %></td>
       </button>
     </p>
   <% end %>
 </div>
</div>
