<div class="container">
 <div class="row">
   <%= form_for :post, url: posts_path do |f| %>
     <h1><%= @post.created_at.strftime("%m/%d/%Y") %></h1>
     <p>
       <h1><strong><%= @post.title %></strong></h1>
     </p>

     <p>
       <%= @post.content %>
     </p>

     <p>
       <button type="button" class="btn btn-warning btn-sm">
         <%= link_to 'Edit', edit_post_path(@post) %>
       </button>
       <button type="button" class="btn btn-success btn-sm">
         <%= link_to 'Back', posts_path %>
       </button>
       <button type="button" class="btn btn-danger btn-sm">
         <%= link_to 'Destroy', post_path(@post),
              method: :delete,
              data: { confirm: 'Are you sure you want to delete this post?' } %></td>
       </button>
     </p>
   <% end %>

  <div class="panel panel-primary">
     <div class="panel-heading">
       <p>Comments</p>
     </div>
     <ul class="list-group">
        <% @post.comments.each do |comment| %>
          <li class="list-group-item">
            <strong><%= comment.commenter %></strong>
              <p> says </p>
            <strong><%= comment.content %></strong>
              <i><%= comment.email %> at <%= @post.created_at.strftime("%m/%d/%Y") %></i>
            <%= link_to 'Delete', [comment.post, comment],
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %>
          </li>
      </ul>
      <% end %>
    </ul>
  </div>

   <h2>Add a comment:</h2>
   <%= form_for([@post, @post.comments.build]) do |f| %>
     <p>
       <%= f.label :commenter %><br>
       <%= f.text_field :commenter %>
     </p>
     <p>
       <%= f.label :content %><br>
       <%= f.text_area :content %>
     </p>
     <p>
       <%= f.label :email %><br>
       <%= f.text_field :email %>
     </p>
     <p>
       <%= f.submit %>
     </p>
   <% end %>

 </div>
</div>
