<div class="navbar navbar-inverse navbar-fixed-left">
  <a class="navbar-brand" href="#">Sim Ming Lun</a>
  <ul class="nav navbar-nav">
   <li><a href="#">Timeline</a></li>
   <li><a href="#">About Me</a></li>
   <li><a href="#">Contact Me</a></li>
  </ul>
</div>
<div class="container">
 <div class="row">
   <%= form_for :post, url: posts_path do |f| %>
     <h1><%= @post.created_at.strftime("%m/%d/%Y") %></h1>
     <p>
       <h1><strong><%= @post.title %></strong></h1>
     </p>

     <p>
       <%= @post.content %>
     </p>

     <p>
     <%= link_to 'Edit', edit_post_path(@post) %> |
     <%= link_to 'Back', posts_path %>
     </p>
   <% end %>
 </div>
</div>
