<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :defaults, 'rails.validations' %>
  </head>

  <body>
      <div class="navbar navbar-inverse navbar-fixed-left">
        <div class="profilepane">
          <%= image_tag("profilepic.png", :alt => "profile pic") %>
        </div>
          <a class="navbar-brand" href="#">Sim Ming Lun</a>
          <ul class="nav navbar-nav">
             <li><a href="posts">Timeline</a></li>
             <li><a href="#">About Me</a></li>
             <li><a href="#">Contact Me</a></li>
          </ul>
      </div>
    <%= yield %>
  </body>
</html>
